<!DOCTYPE html>
<html>

<head>
    <%- include ('../../layouts/header.ejs'); %>
</head>

<body>
    <%- include('../../Layouts/logout.ejs') %>
    <div style="padding-left: 15%;" class="m-5">
        <h4><%= title %></h4>
    </div>
    <div class="container">
        <%- include('../../Layouts/errors.ejs') %>
    </div>
    <form action="/apps/edit-password" method="post" name="form1" class="container">
        <div class="form-group">
            <div class="form-group row">
                <label for="app" class="col-2"><strong>Application: </strong> </label>
                <div class="col-4">
                    <input type="text" class="form-control" name="app" id="app" value="<%= data.app %>" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-2"><strong>Username: </strong> </label>
                <div class="col-4">
                    <input type="text" name="username" class="form-control" id="username" value="<%= data.username %>">
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-2"><strong>Password: </strong></label>
                <div class="col-4">
                    <input type="password" name="password" class="form-control" id="password" required>
                    <span class="fa fa-eye" id="view" onclick="viewPassword()"></span>
                </div>
            </div>
            <div class="form-group row">
                <label for="confirm_password" class="col-2"><strong>Confirm Password: </strong></label>
                <div class="col-4">
                    <input type="password" name="confirm_password" class="form-control" id="confirm_password"
                    required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <input type="submit" class="btn btn-primary" value="Update">
                </div>
                <a class="btn btn-danger" href="/apps/passwords">Cancel</a>
            </div>
        </div>
    </form>
</body>

</html>
<style type="text/css">
    #view {
        position: absolute;
        right: 25px;
        top: 10px;
    }
</style>

<script>
    var viewPassword = function (){
        let password = document.getElementById("password");
        if(password.type == "password"){
            password.type = "text";
            document.getElementById("view").className = "fa fa-eye-slash";
        } else {
            password.type = "password";
            document.getElementById("view").className = "fa fa-eye";
        }
    }
</script>