<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../Layouts/header.ejs') %>
</head>

<body>
    <br><br>
    <%- include('../../Layouts/logout.ejs') %>
    <div>
        <a href="/apps/add-password" class="btn btn-secondary ml-3">Add Password</a>
    </div>
    <div style="text-align: center;">
        <h2><%= title %></h2>
    </div>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Sl. No</th>
                <th scope="col">Date</th>
                <th scope="col">Application</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% if(data.length) {
                for(let id in data){ %>
                    <tr>
                        <th scope="row"><%= (Number(id)+1) %></th>
                        <td><%= data[id].date%></td>
                        <td><%= data[id].app%></td>
                        <td><%= data[id].username %></td>
                        <td>
                            <input type="password" style="border: none;background: none;" value="<%= (data[id].password).slice(0,6) %>" id="<%= data[id].app %>" size="10">
                        </td>
                        <td>
                            <button class="btn btn-success btn-sm" id="<%= 'view'+data[id].app %>" onclick="togglePassword(this.id)">View Password</button>
                        </td>
                    </tr>
                <% }
            } else { %>
                <tr>
                    <td colspan="4" style="text-align: center;">
                        No Data Available
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>

<script>

    var togglePassword = function(id){
        const app = id.slice(4);
        const btn_val = document.getElementById(id).innerHTML.slice(0,4);
        if(btn_val == "View"){
            document.getElementById(app).type = "text";
            document.getElementById(id).innerHTML = "Hide Password";
        } else if(btn_val == "Hide"){
            document.getElementById(app).type = "password";
            document.getElementById(id).innerHTML = "View Password";
        }
    };
</script>